/* Scss Document */
$hovergreen: lightgreen;
$red:red;

p {
	color:$red;
	a {
		color: orange;
		&:hover{
		color:$hovergreen;
	}
	}
}

button {
	background:$hovergreen;
	border:none;
	padding:15px;
	&:hover {
		background:$red;
	}
}

