/* Scss Document */
/* line 5, styles.scss */
p {
  color: red;
}
/* line 7, styles.scss */
p a {
  color: orange;
}
/* line 9, styles.scss */
p a:hover {
  color: lightgreen;
}

/* line 15, styles.scss */
button {
  background: lightgreen;
  border: none;
  padding: 15px;
}
/* line 19, styles.scss */
button:hover {
  background: red;
}
